<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Cargo</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="nombres" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombres">
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" >
            </div>
            <div class="mb-3">
                <label for="sueldo" class="form-label">Sueldo Base</label>
                <input type="text" class="form-control" id="sueldo" >
            </div>

            
            <button class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
</div>
