<div>
    <h2> SPA-RR.HH</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/personal">
                Personal
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/cargos">
                Cargos
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/salud">
                Fondos de Salud
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-outline-success" routerLink="/pension">
                Fondos de pensión
            </button>
        </div>
    </div>
</div>
