<div class="container">
    <div class="d-flex justify-content-start">
        <h4>Agregar Prevision Salud</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <label for="salud" class="form-label">Fondo de salud</label>
                <select class="form-control" name="salud" id="salud" >
                    <option value="0">-- Seleccione</option>
                    <option value="1">Fonasa</option>
                    <option value="2">Colmena</option>
                    <option value="3">Banmedica</option>
                    <option value="4">Consalud</option>
                    <option value="5">Otro</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="porcentaje" class="form-label">Porcentaje</label>
                <input type="text" class="form-control" id="porcentaje" >
                
            </div>
        
            <button class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        </div>
    </div>
</div>
